External/
Resources/old/
Nova/x64/
.vs/
x64/
Nova.vcxproj.user
Resources/Audio/
renderDoc.rdc
*.exe
PlayerAndDragonkin.rdc
*.png
*.bin
*.glb
*.gltf
*.fbx
*.bat
*.jpeg
*.hdr
Resources/Model/GltfSample/
*.jpg
*.DDS
*.rar
*.zip
*.mat
*.cereal
